.contatos

.procurar {
    margin-left: 9vw ;
    margin-top: 2vh;
    width: 22vw;
    height: 4vh;
    border-radius: 10px;
    background: #222E35;
    display: grid;
    grid-template-areas: 
    "search search filter";
}

.icon__search {
    padding-top: 1vh;
    padding-left: 1vw;
    color: #AEBAC1;
    grid-area: search;
}

.icon__filter {
    padding-top: 1vh;
    padding-left: 21vw;
    color: #AEBAC1;
    grid-area: filter;
}