.barra__mensagens{
    width: 100%;
    height: 6vh;
    display: grid;
    grid-template-areas: 
    "image text icons";
    grid-template-columns: 
    1fr 10fr 1fr;
}

.foto__mensagens{
    padding-top: 1vh;
    padding-left: 1vw;
    grid-area: image;
}

.title__mensagens{
    padding-top: 1.4vh;
    color: #ffffff;
    font-weight: 600;
    grid-area: text;
}

.description__mensagens{
    padding-top: 3.5vh;
    color: #8696A0;
    font-size: 1.4vh;
    grid-area: text;
}

.search__mensagens{
    display: flex;
    align-items: center;
    padding-top: 1.5vh;
    font-size: 1.8vh;
    color: #8696A0;
    grid-area: icons;
}

.settings__mensagens{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 1.5vh;
    padding-right: 1.5vw;
    font-size: 2.2vh;
    color: #8696A0;
    grid-area: icons;
}