.barra__mensagens{
    width: 100%;
    height: 6vh;
    background-color: #202C33;
    display: grid;
    grid-template-areas: 
    "image title icons";
    grid-template-columns: 
    1fr 10fr 1fr;
}

.foto__mensagens{
    margin-top: 0.6vh;
    margin-left: 1vw;
    height: 5vh;
    width: 4.5;
    border-radius: 25px;
}

.title__mensagens{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.8vh;
    font-weight: 600;
    grid-area: title;
}

.search__mensagens{
    padding-top: 2vh;
    font-size: 1.8vh;
    color: #AEBAC1;
    grid-area: icons;
}

.settings__mensagens{
    display: flex;
    justify-content: end;
    padding-top: 2vh;
    padding-right: 1.5vw;
    font-size: 2.2vh;
    color: #AEBAC1;
    grid-area: icons;
}