.barra__procurar {
    margin-left: 7vw;
    margin-top: 2vh;
    width: 24vw;
    height: 4vh;
    background: #222E35;
    border-radius: 10px;
}

.icon__procurar {
    padding-top: 1vh;
    padding-left: 1vh;
    grid-area: search;
    color: #AEBAC1;
}

.card__contacts {
    height: 7vh;
    width: 57.2vh;
    margin-top: 2vh;
    margin-left: 6vw;
    border-bottom: 1px solid #313D45;
    background-color: #111B21;
    display: grid;
    grid-template-areas:
    "image text";
    grid-template-columns:
    1fr 6fr;
}

.card__image {
    margin-top: 1vh;
    margin-left: 1vw;
    height: 5vh;
    width: 4.5vh;
    border-radius: 25px;
    grid-area: image;
}

.card__name {
    padding-top: 1.5vh;
    padding-left: 1vw;
    font-size: 1.8vh;
    color: #fff;
    grid-area: text;
}

.card__description {
    padding-top: 4vh;
    padding-left: 1vw;
    font-size: 1.2vh;
    color: #8696A0;
    grid-area: text;
}

.conversas {
    display: none;
}

@media (max-width: 640px) {

    .barra__procurar {
        height: 5vh;
        width: 80vw;
        margin-top: 3vh;
        margin-left: 10vw;
    }

    .icon__procurar {
        padding-top: 1.5vh;
        margin-left: 2vw;
    }

    .conversas {
        display: flex;
        margin-top: 4vh;
        font-size: 4vh;
        color: #fff;
    }

}