.barra__procurar {
    margin-left: 7vw;
    margin-top: 2vh;
    width: 24vw;
    height: 4vh;
    background: #222E35;
    border-radius: 10px;
}

.icon__procurar {
    padding-top: 1vh;
    padding-left: 1vh;
    grid-area: search;
    color: #AEBAC1;
}

.card__contacts{
    height: 7vh;
    width: 57.2vh;
    margin-top: 2vh;
    margin-left: 6vw;
    background-color: #111B21;
    border: 1px solid #313D45;

}

.card__image{
    margin-top: 1.4vh;
    margin-left: 1vw;
    grid-area: image;
}

.card__name{
    color: #fff;
}

.card__description{
    color: #fff;
}

.card__name{
    display: flex;
    align-items: center;
    padding-bottom: 2vh;
    font-size: 2vh;
}

.conversas{
    display: none;
}

@media (max-width: 640px) {

    .barra__procurar {
        height: 5vh;
        width: 80vw;
        margin-top: 3vh;
        margin-left: 10vw;
    }

    .icon__procurar {
        padding-top: 1.5vh;
        margin-left: 2vw;
    }

    .conversas {
        display: flex;
        margin-top: 4vh;
        font-size: 4vh;
        color: #fff;
    }

}